<div class="row" style="padding: 20px;">
    <div class="card ">
        <div class="card-body">
         <button (click)="getData()" class="btn btn-success">
          Refresh
         </button>


        </div>
      </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price(1kg)</th>
        <th scope="col">Quality</th>
        <th scope="col">Quantity</th>
        <th scope="col">Mdate</th>
        <th scope="col">Edate</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let item of items">
        <th scope="row">{{item.name}}</th>
        <td>{{item.price}}</td>
        <td>{{item.quality}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.mdate}}</td>
        <td>{{_service.url+item.image}}</td>
        <td>
          <img [src]="_service.url+item.image" width="50px" >
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteItem(item.item_code)">
            Delete
          </button>
        </td>
      </tr>
     
    </tbody>
  </table>

  