<div class="container-fluid">
    <div class="col-11 mx-auto">
        <mat-tab-group>
            <mat-tab label="Seller's Item">
                <div style="height: 500px;">
                    <items></items>
                </div>
            </mat-tab>
            <mat-tab label="Add Item">
                <div style="height: 500px;">
                    <add-item></add-item>
                    
                </div>
            </mat-tab>
            <mat-tab label="Orders">
                <div style="height: 500px;">
                    <order></order>
                </div>
            </mat-tab>
            <mat-tab style="height: 500px;" label="Seller's Report">
                coming soon..
            </mat-tab>
        </mat-tab-group>
    </div>
</div>