<div class="container-fluid"
  style="background-image: url('../assets/img/bg.jpg');background-repeat: repeat;background-size: contain;margin-top: 10px;">
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="row">
        <div class="col-6"
          style="background-color: rgba(36, 145, 41, 0);height: 500px;border-radius: 10px;opacity: 0.9;">
          <div class="card1" style="margin-top: 20px;">
            <h1 class="entry-title">
              <a href="#">A diet high in fruit and vegetables can help protect you against cancer,
                diabetes and heart disease.</a>
            </h1>
            <small>By <a href="#">Pure Vegitable</a></small>
            <span>See details for walkthrough</span>
            <span>See Also:New Year OFFERS!</span>
          </div>
        </div>
        <div class="col-6" style="height: 500px;margin: auto;">
          <img src="../assets/img/vegi.jpg" width="500px">
        </div>
      </div>
    </div>
  </div>
</div>